# DSC 80: Lab 01

### Due Date: Tuesday January 14, Midnight (11:59 PM)

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab01.py` file, that will be imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab01.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import lab01 as lab

In [3]:
import os
import pandas as pd
import numpy as np

## Python Basics

---
**Question 0 (EXAMPLE):**

Write a function that takes in a possibly empty list of integers and:
* Returns `True` if there exist two adjacent list elements that are consecutive integers.
* Otherwise, returns `False`.

For example, because `9` is next to `8`:
```
>>> lab.consecutive_ints([5,3,6,4,9,8])
True
```
Whereas:
```
>>> lab.consecutive_ints([1,3,5,7,9])
False
```

*Note*: This question is done for you, to demonstrate a completed homework problem.

In [4]:
# Develop your code here (or in an IDE) if you'd like.
# Though only code in lab01.py will be graded!
def consecutive_ints(lst):
    lst = []
    n = len(lst)
    min_num = min(lst)
    max_num = max(lst)
    if (max_num - min_num) + 1 == n:
        visited = [False for i in range(n)]
        for i in range(n):
            if (visited[arr[i] - Min] != False): 
                return False
            visited[arr[i] - Min] = True
        return True
    return False

In [5]:
# Add more cells if you'd like!

Test your code in two ways:
1. Run the cell below to test your code. You should also copy the cell and change the input to test further (i.e. write your own doctests)! Does it work for corner cases? Real-world data is **very messy** and you should expect your data processing code to break without thorough testing!
2. Run doctests on `lab01.py` by running the following command on the commandline:
```
python -m doctest lab01.py
```
If the doctests pass, then there should be *no* output.

In [ ]:
# test your code!
lab.consecutive_ints([1,3,2,4])

In [ ]:
lab.consecutive_ints([0])

In [ ]:
lab.consecutive_ints([])

In [ ]:
lab.consecutive_ints([5,3,6,4,9,8])

In [ ]:
lab.consecutive_ints([1,3,5,7,9])

---
**Question 1 (median):**

Write a function called *median* that takes a non-empty list of numbers, returning the median element of the list. If the list has even length, it should return the mean of the two elements in the middle. Do not use any imported libraries for this question; you may use any built-in function.

In [ ]:
def median(nums):
    middle = len(nums) // 2
    nums.sort()
    if not len(nums) % 2:
        return (nums[middle - 1] + nums[middle]) / 2.0
    return nums[middle]

In [ ]:
median([6, 5, 4, 3, 2]) == 4

In [ ]:
# Try this
median([0, -1, 1, 100])

In [ ]:
median([50, 20, 15, 40]) == 30

In [ ]:
median([1, 2, 3, 4]) == 2.5

---
**Question 2 (List Distances):**

Similar to Question 0, write a function that takes in a possibly empty list of integers and:
* Returns `True` if there exist two list elements $i$ places apart, whose distance as integers is also $i$.
* Otherwise, returns `False`.

Assume your inputs tend to satisfy the condition, and the pair(s) saitifying the condition tend to be close together; design your function to run faster for this case. (Optimizing your code for an assumed distribution of incoming data is very common in data science).

For example, because `3` and (the second) `5` are two places apart, and $|3-5| = 2$:
```
>>> lab.same_diff_ints([5,3,1,5,9,8])
True
```
Whereas:
```
>>> lab.same_diff_ints([1,3,5,7,9])
False
```

*Note*: Make sure to define some extreme test cases. Use the `%time` command to time your function!

In [ ]:
def same_diff_ints(ints):
    for i in range(len(ints)):
        for j in range(len(ints)):
            if ints[i] != ints[j] and i - j == abs(ints[i] - ints[j]):
                return True
    return False

In [ ]:
%time lab.same_diff_ints([5,3,1,5,9,8])

In [ ]:
same_diff_ints([5,3,1,5,9,8])

In [ ]:
same_diff_ints([1,3,5,7,9])

In [ ]:
for i in range(1,99999):

---
## Strings and Files

The following questions will help you (re)learn the basics of working with strings and reading data from files (which are read in as strings, by default).

---
**Question 3 (Prefixes):**

Write a function `prefixes` that takes a string and returns a string of every consecutive prefix of the input string. For example, `prefixes('Data!')` should return `'DDaDatDataData!'`.  (See the doctests for more examples).

Recall that [strings may be sliced](https://docs.python.org/3/tutorial/introduction.html#strings), like lists.

In [ ]:
def prefixes(s):
    result = ''
    for i in range(1, len(s)+1):
        result += s[:i]
    return result

In [ ]:
prefixes('Data!')

In [ ]:
prefixes('Marina')

---
**Question 4 (Evens reversed):**

Write a function `evens_reversed` that takes in a non-negative integer $N$ and returns a string containing all even integers from $1$ to $N$ (inclusive) in reversed order, separated by spaces. Additionally, [zero pad](https://www.tutorialspoint.com/python/string_zfill.htm) each integer, so that each has the same length.

In [ ]:
def evens_reversed(N):
    result = ''
    for i in range(N, 1, -1):
        if i % 2 == 0:
            result += str(i).zfill(len(str(N))) +' ' 
    return result[:-1]

In [ ]:
evens_reversed(7)

In [ ]:
evens_reversed(10)

---

[Recall](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files) that the built-in function `open` takes in a file path and returns *a file object* (sometimes called a *file handle*). Below are a few properties of file objects:

* `open(path)` opens the file at location `path` for reading.
* `open(path)` is an *iterable*, which contains successive lines of the file.
* Once a file object is opened, after use it should be closed to avoid memory leaks. To ensure a file is closed once done, you should use a *context manager* as follows:
```
with open(path) as fh:
    for line in fh:
        process_line(line)
```
* To read the entire file into a string, use the read method:
```
with open(path) as fh:
    s = fh.read()
```
However, you should be careful when reading an entire file into memory that the file isn't too big! *You should avoid this whenever possible!*

**Question 5 (Reading Files):**

Create a function `last_chars` that takes a file object and returns a string consisting of the last character of the line.

*Remark:* A newline is the "delimiter" of the lines of a file, and doesn't count as part of the line (as the tests imply). Every other character is part of the line. For more info on this, see [the interpretation](https://en.wikipedia.org/wiki/Newline#Interpretation) of files as a 'newline delimited variables' file.

In [ ]:
def last_chars(fh):
    file = fh.read()
    result = ''
    for i in range(len(file)):
        if file[i] == '\n':
            result += file[i-1]
    return result

In [ ]:
fp = os.path.join('data', 'chars.txt')

In [ ]:
last_chars(open(fp))

---

## `numpy` exercises

For an introduction to arrays and `numpy` recall the relevant section of [DSC 10](https://www.inferentialthinking.com/chapters/05/1/Arrays.html).

**Question 6 (Basic Arrays):**

Create the following functions using `numpy` methods satisfying the requirements given in each part. Your solutions should **not** contain any loops or list comprehensions.

* A function `arr_1` that takes in a `numpy` array and adds to each element the square-root of the index of each element.

* A function `arr_2` that takes in a `numpy` array of integers and returns a boolean array (i.e. an array of booleans) whose `ith` element is `True` if and only if the `ith` element of the input array is divisble by 16.

* A function `arr_3` that takes in a `numpy` array of [stock prices](https://en.wikipedia.org/wiki/Stock) per share on successive days in USD and returns an array of growth rates. That is, the `ith` number of the output array should contain the rate of growth in stock price between the $i^{th}$ day to the $(i+1)^{th}$ day. The growth rate should be a proportion, rounded to the nearest hundredth.

* Suppose:
    - `A` is a `numpy` array of [stock prices](https://en.wikipedia.org/wiki/Stock) per share for a company on successive days in USD 
    - you start with \\$20, and put aside \\$20 at the end of each day to buy as much stock as possible the following day. 
    - Any money left-over after a given day is saved for possibly buying stock on a future day. 
    - Create a function `arr_4` that takes in `A` and returns the day on which you can buy at least one share from 'left-over' money. If this never happens, return `-1`. The first stock purchase occurs on day 0. *Note: you cannot buy fractions of a share of stock*.
    
*Example:* If the stock price is \\$3 every day, then the answer is 'day 1':
* day 0: buy 6 shares; \\$2 left-over; \\$22 at end of day.
* day 1: buy 7 shares; \\$1 left-over; \\$21 at end of day.
This is more than the 6 shares that \\$20 can buy.

In [ ]:
fp = os.path.join('data', 'stocks.csv')
stocks = np.array([float(x) for x in open(fp)])

In [ ]:
def arr_1(A):
    square = np.arange(len(A))**0.5
    output = A + square

    return output

def arr_2(A):
    result = (A%16) == 0
    return result

def arr_3(A):
    return np.round(np.diff(A)/A[:-1],2)

def arr_4(A):
    day = np.cumsum(20%A)
    result = (A > day).tolist().index(False)
    return result

In [ ]:
A = np.array([2, 4, 6, 7])
out = arr_1(A)
out
isinstance(out, np.ndarray)

In [ ]:
np.all(out >= A)

In [ ]:
out = arr_2(np.array([1, 2, 16, 17, 32, 33]))
isinstance(out, np.ndarray)

In [ ]:
out.dtype == np.dtype('bool')

In [ ]:
fp = os.path.join('data', 'stocks.csv')
stocks = np.array([float(x) for x in open(fp)])
out = arr_3(stocks)
isinstance(out, np.ndarray)

In [ ]:
out.dtype == np.dtype('float')

In [ ]:
out.max() == 0.03

In [ ]:
import numbers
stocks = np.array([3,3,3,3])
out = arr_4(stocks)
isinstance(out, numbers.Integral)

In [ ]:
out == 1

---
## Getting Started with Pandas

The following questions will help you get comfortable with Pandas. These questions are similar to questions on tables in DSC 10; review the [textbook](https://www.inferentialthinking.com) as necessary. As always for Pandas questions:
1. Avoid writing loops through the rows of the dataset to do the problem, and
2. Test the output/correctness of your code with the help of the dataset given, but be sure your code will also run on data "like" the dataset given (sampling rows using the `.sample` method is useful for this!).

**Question 7 (Pandas basics):**

Read in the file `movies_by_year.csv` in the `data` directory and understand the dataset by answering the following questions. To do this, create a function `movie_stats` that takes in a dataframe like `movies` and returns a series containing the following statistics:
* The number of years covered by the dataset (`num_years`).
* The total number of movies made over all years in the dataset (`tot_movies`).
* The year with the fewest number of movies made; a tie should return the earliest year (`yr_fewest_movies`).
* The average amount of money grossed over all the years in the dataset (`avg_gross`).
* The year with the highest gross *per movie* (`highest_per_movie`).
* The name of the top movie during the second-lowest (total) grossing year (`second_lowest`).
* The average number of movies made the year *after* a Harry Potter movie was the #1 movie (`avg_after_harry`).

The index of the output series are given in parenthesis above.

*Note*: Your function should work on a dataset of the same format that contains information from other years. You may assume that none of the answers involving ranking returns a tie.

*Note*: To make sure your function still runs, in the event that one of the 7 parts throws an exception (e.g. due to a very incorrect answer), use `Try... Except...` structures.

In [17]:
movie_fp = os.path.join('data', 'movies_by_year.csv')
movies = pd.read_csv(movie_fp)
movies

    Year  Total Gross  Number of Movies                             #1 Movie
0   2015      11128.5               702         Star Wars: The Force Awakens
1   2014      10360.8               702                      American Sniper
2   2013      10923.6               688                        Catching Fire
3   2012      10837.4               667                         The Avengers
4   2011      10174.3               602  Harry Potter / Deathly Hallows (P2)
5   2010      10565.6               536                          Toy Story 3
6   2009      10595.5               521                               Avatar
7   2008       9630.7               608                      The Dark Knight
8   2007       9663.8               631                         Spider-Man 3
9   2006       9209.5               608                     Dead Man's Chest
10  2005       8840.5               547                  Revenge of the Sith
11  2004       9380.5               551                              Shrek 2
12  2003       9239.7               506                   Return of the King
13  2002       9155.0               479                           Spider-Man
14  2001       8412.5               482      Harry Potter / Sorcerer's Stone
15  2000       7661.0               478                           The Grinch
16  1999       7448.0               461                   The Phantom Menace
17  1998       6949.0               509                  Saving Private Ryan
18  1997       6365.9               510                              Titanic
19  1996       5911.5               471                     Independence Day
20  1995       5493.5               411                            Toy Story
21  1994       5396.2               453                         Forrest Gump
22  1993       5154.2               462                        Jurassic Park
23  1992       4871.0               480                              Aladdin
24  1991       4803.2               458                         Terminator 2
25  1990       5021.8               410                           Home Alone
26  1989       5033.4               502                               Batman
27  1988       4458.4               510                             Rain Man
28  1987       4252.9               509                 Three Men and a Baby
29  1986       3778.0               451                              Top Gun
30  1985       3749.2               470                   Back to the Future
31  1984       4031.0               536                    Beverly Hills Cop
32  1983       3766.0               495                   Return of the Jedi
33  1982       3453.0               428                                 E.T.

In [47]:
def movie_stats(movies):
    #number of years
    try:
        num_years = max(movies['Year']) - min(movies['Year'])
    except:
        num_years = None
    #total movies
    try:
        tot_movies = sum(movies['Number of Movies'])
    except:
        tot_movies = None
    #Year of fewest movies
    try:
        sorted_byNOM = movies[movies['Number of Movies'] == min(movies['Number of Movies'])]
        yr_fewest_movies = sorted_byNOM.sort_values(by = 'Year')['Year'].values[0]
    except:
        yr_fewest_movies = None
    #Average gross
    try: 
        avg_gross = np.mean(movies['Total Gross'].tolist())
    except:
        avg_gross = None
    #Highest gross per movie   
    try:
        gross = movies['Total Gross'].values
        num =  movies['Number of Movies'].values
        sub = movies
        sub['gross per movie'] = gross/num
        highest_per_movie = sub.sort_values(by = 'gross per movie',ascending = False)['Year'].values[0]
    except:
        highest_per_movie = None
    #second lowest movie
    try:
        second_lowest= movies.sort_values(by='Total Gross')['#1 Movie'].values[1]
    except:
        second_lowest = None
    #averge after Harry Potter
    try:
        find_HP = lambda i : True if 'Harry Potter' in i else False
        Harry = list(map(find_HP,movies['#1 Movie'].values))
        copy = movies
        copy['Harry'] = Harry
        sub = copy[copy['Harry'] == True]
        second = sub['Year'].values+1
        A = movies[movies['Year'].isin(second) ]
        avg_after_harry = np.mean(A['Number of Movies'].values)
    except:
        avg_after_harry = None
    
    contents = [num_years, tot_movies,yr_fewest_movies,avg_gross,highest_per_movie,second_lowest,avg_after_harry]
    labels = ['num_years', 'tot_movies', 'yr_fewest_movies', 'avg_gross', 'highest_per_movie','second_lowest','avg_after_harry']
    result = pd.Series(contents, index = labels)
    return result

In [76]:
def movie_stats(movies):
    """
    movies_stats returns a series as specified in the notebook.
    :param movies: a dataframe of summaries of
    movies per year as found in `movies_by_year.csv`
    :return: a series with index specified in the notebook.
    :Example:
    >>> movie_fp = os.path.join('data', 'movies_by_year.csv')
    >>> movies = pd.read_csv(movie_fp)
    >>> out = movie_stats(movies)
    >>> isinstance(out, pd.Series)
    True
    >>> 'num_years' in out.index
    True
    >>> isinstance(out.loc['second_lowest'], str)
    True
    """
    # num_years
    num_years = max(movies['Year']) - min(movies['Year'])

    # tot_movies
    tot_movies = sum(movies['Number of Movies'])

    # yr_fewest_movies
    fewest_movs = min(movies['Number of Movies'])
    bool_subset = movies['Number of Movies'] == fewest_movs
    yr_fewest_movies = min(movies.loc[bool_subset]['Year'])

    # avg_gross
    gross_col = movies['Total Gross']
    avg_gross = (sum(gross_col) / len(gross_col))

    # highest_per_movie
    # gpm = gross per movie
    gpm_frame = movies.join(pd.DataFrame({'gpm':
                                         movies['Total Gross'] /
                                         movies['Number of Movies']}))
    max_gpm = max(gpm_frame['gpm'])
    highest_per_movie = gpm_frame.loc[gpm_frame['gpm'] == max_gpm]['Year']
    highest_per_movie = highest_per_movie.reset_index(drop=True)[0]

    # second_lowest
    sorted_grosses = movies.sort_values('Total Gross', ascending = True)
    sorted_indices = sorted_grosses.reset_index(drop=True)
    second_lowest = sorted_indices['#1 Movie'][1]

    # avg_after_harry
    hpot = movies['#1 Movie'].str.contains('Harry Potter')
    hpot_indx = np.array(movies.index[hpot].tolist())
    movies_after_hpot = movies.loc[hpot_indx - 1]['Number of Movies'].mean()
    avg_after_harry = movies_after_hpot

    labels = ['num_years', 'tot_movies', 'yr_fewest_movies',
              'avg_gross', 'highest_per_movie', 'second_lowest',
              'avg_after_harry']
    movie_stats = pd.Series([num_years,
                            tot_movies,
                            yr_fewest_movies,
                            avg_gross,
                            highest_per_movie,
                            second_lowest,
                            avg_after_harry],
                            labels)

    return movies_after_hpot

In [78]:
movie_fp = os.path.join('data', 'movies_by_year.csv')
movies = pd.read_csv(movie_fp)
out = movie_stats(movies)
isinstance(out, pd.Series)
out
movies

    Year  Total Gross  Number of Movies                             #1 Movie
0   2015      11128.5               702         Star Wars: The Force Awakens
1   2014      10360.8               702                      American Sniper
2   2013      10923.6               688                        Catching Fire
3   2012      10837.4               667                         The Avengers
4   2011      10174.3               602  Harry Potter / Deathly Hallows (P2)
5   2010      10565.6               536                          Toy Story 3
6   2009      10595.5               521                               Avatar
7   2008       9630.7               608                      The Dark Knight
8   2007       9663.8               631                         Spider-Man 3
9   2006       9209.5               608                     Dead Man's Chest
10  2005       8840.5               547                  Revenge of the Sith
11  2004       9380.5               551                              Shrek 2
12  2003       9239.7               506                   Return of the King
13  2002       9155.0               479                           Spider-Man
14  2001       8412.5               482      Harry Potter / Sorcerer's Stone
15  2000       7661.0               478                           The Grinch
16  1999       7448.0               461                   The Phantom Menace
17  1998       6949.0               509                  Saving Private Ryan
18  1997       6365.9               510                              Titanic
19  1996       5911.5               471                     Independence Day
20  1995       5493.5               411                            Toy Story
21  1994       5396.2               453                         Forrest Gump
22  1993       5154.2               462                        Jurassic Park
23  1992       4871.0               480                              Aladdin
24  1991       4803.2               458                         Terminator 2
25  1990       5021.8               410                           Home Alone
26  1989       5033.4               502                               Batman
27  1988       4458.4               510                             Rain Man
28  1987       4252.9               509                 Three Men and a Baby
29  1986       3778.0               451                              Top Gun
30  1985       3749.2               470                   Back to the Future
31  1984       4031.0               536                    Beverly Hills Cop
32  1983       3766.0               495                   Return of the Jedi
33  1982       3453.0               428                                 E.T.

In [10]:
'num_years' in out.index

True

In [11]:
isinstance(out.loc['second_lowest'], str)

True

---

## CSV Files

**Question 8 (Reading malformed csv files):**

`malformed.csv` contains a file of comma-separated values, containing the following fields:


|column name|description|type|
|---|---|---|
|first|first name of person|str|
|last|last name of person|str|
|weight|weight of person (lbs)|float|
|height|height of person (in)|float|
|geo|location of person; comma-separated latitude/longitude|str|

Unfortunately, the entries contains errors that cause the Pandas `read_csv` function to fail parsing the file with the default settings. Instead, you must read in the file manually using Python's built-in `open` function.

Clean the csv file into a Pandas DataFrame with columns as described in the table above, by creating a function called `parse_malformed` that takes in a file path and returns a parsed, properly-typed dataframe. The dataframe should contain columns as described in the table above (with the specified types); it should agree with `pd.read_csv` when the lines are not malformed.


*Note:* Assume that the given csv file is a sample of a larger file; you will be graded against a **different** sample of the larger file that has the same type of parsing errors. That is, you should **not** hard-code your cleaning of the data to specific errors on specific lines in the data.

In [14]:
def parse_malformed(fp):
    with open(fp) as fh:
        file = fh.read()
    modified_file = [i.split(',') for i in file.split()]
    for i in modified_file:
        if '' in i:
            i.remove('')
    first = [i[0] for i in modified_file[1:]]
    last = [i[1] for i in modified_file[1:]]

    weight = [float(i[2].strip('"')) for i in modified_file[1:]]
    height = [float(i[3].strip('"')) for i in modified_file[1:]]
    geo = [(i[4]+','+i[5]).strip('"') for i in modified_file[1:]]
    new_frame = pd.DataFrame({modified_file[0][0]:first,modified_file[0][1]:last,modified_file[0][2]:weight,
                       modified_file[0][3]:height,modified_file[0][4]:geo})

    return new_frame

In [4]:
def parse_malformed(fp):
    """
    Parses and loads the malformed csv data into a 
    properly formatted dataframe (as described in 
    the question).
    :param fh: file handle for the malformed csv-file.
    :returns: a Pandas DataFrame of the data, 
    as specificed in the question statement.
    :Example:
    >>> fp = os.path.join('data', 'malformed.csv')
    >>> df = parse_malformed(fp)
    >>> cols = ['first', 'last', 'weight', 'height', 'geo']
    >>> list(df.columns) == cols
    True
    >>> df['last'].dtype == np.dtype('O')
    True
    >>> df['height'].dtype == np.dtype('float64')
    True
    >>> df['geo'].str.contains(',').all()
    True
    >>> len(df) == 100
    True
    >>> dg = pd.read_csv(fp, nrows=4, skiprows=10, names=cols)
    >>> dg.index = range(9, 13)
    >>> (dg == df.iloc[9:13]).all().all()
    True
    """
    regexp_fn = r'(\w+)\W.*\n'
    data_type_fn = [('first', np.str_, 32)]
    first_names = np.fromregex(fp, regexp_fn, dtype=data_type_fn)[1:]

    regexp_ln = r'\W+(\w+)\W.*\n'
    data_type_ln = [('last', np.str_, 32)]
    last_names = np.fromregex(fp, regexp_ln, dtype=data_type_ln)[1:]

    regexp_w = r'\w+\W+(\d+\.\d+)\W+.*\n'
    data_type_w = [('weight', np.float64)]
    weights = np.fromregex(fp, regexp_w, dtype=data_type_w)

    regexp_h = r'\d\W+(\d+\.\d+)\W+\d+.*\n'
    data_type_h = [('height', np.float64)]
    heights = np.fromregex(fp, regexp_h, dtype=data_type_h)

    regexp_g = r'\d\W+\d+\.\d+\W+(\W?\d+.\d+\W+\d+.\d+).*\n'
    data_type_g = [('geo', np.str_, 32)]
    geo_locs = np.fromregex(fp, regexp_g, dtype=data_type_g)


    full_frame = pd.DataFrame(first_names)
    full_frame = full_frame.join([pd.DataFrame(last_names),
                                  pd.DataFrame(weights),
                                  pd.DataFrame(heights),
                                  pd.DataFrame(geo_locs)])

    return full_frame

In [16]:
fp = os.path.join('data', 'malformed.csv')
df = parse_malformed(fp)
cols = ['first', 'last', 'weight', 'height', 'geo']
list(df.columns) == cols
df

         first         last  weight  height          geo
0        Julia       Wagner   142.0    86.0    39.8,15.4
1     Angelica         Rija   155.0    56.0   38.2,-71.7
2        Tyler      Micajah   116.0    73.0     38.0,6.9
3     Kathleen        Nakea   163.0    69.0   36.3,-86.8
4         Axel        Ronit    95.0    74.0   36.8,128.2
5        Amiya        Kyona   130.0    72.0   36.3,114.5
6       Torrey  Joshuacaleb   105.0    79.0   38.3,145.1
7       Mariah        Alese   149.0    68.0    36.1,45.7
8      Grayson       Daimen   140.0    80.0   38.1,-72.6
9       Yvette       Trayce   179.0    67.0    36.9,-8.3
10        Cody        Hatim   150.0    63.0    38.0,-7.3
11     Marissa         Daud   135.0    58.0    37.3,11.0
12       Logan      Cristel   133.0    67.0  35.5,-110.2
13      Kaiyah      Brinden   187.0    82.0    34.8,83.2
14        Ivan       Devyne   193.0    54.0   36.6,262.0
15    Shamaria     Aldrick"   139.0    73.0   38.5,-94.6
16      Travis  Anavictoria   117.0    62.0    36.3,69.5
17     Kennedy       Dalynn   171.0    77.0   37.3,-27.5
18       Alina     Danniell   105.0    55.0   37.4,314.7
19     Cameron     Angelica   139.0    56.0   38.8,-79.3
20     Madison      Barkley   120.0    69.0    38.2,86.1
21     Jackson        Taylr   113.0    78.0    36.7,56.7
22     Agustin    Stephanye    91.0    62.0    36.4,54.5
23     Janesha       Jhayla   143.0    64.0   35.9,-70.5
24    Nickolas      Karenna   159.0    75.0   35.9,-73.9
25       Stacy      Meaghen   149.0    68.0   36.6,-27.7
26     Matthew        Kalis   166.0    66.0     37.8,0.2
27      Rayona     Treniece   151.0    59.0   37.2,140.1
28        Jack        Hanai   164.0    70.0   38.6,-63.6
29      Hayley       Zsazsa   146.0    62.0    36.2,-2.6
..         ...          ...     ...     ...          ...
70        Shay       Marcea   103.0    65.0   36.0,-33.1
71    Adrianna      Karsten   157.0    81.0    34.8,36.1
72         Max        Nairi   113.0    67.0    36.9,12.2
73     Suzanne      Dearion   129.0    70.0   36.9,-70.4
74      Camryn       Tasnim   126.0    63.0    36.5,19.8
75       Cielo       Saylah   103.0    65.0    36.1,83.1
76  Annastasia        Averi    91.0    67.0   37.1,-43.7
77      Hannah        Jerit   142.0    53.0    36.6,10.3
78      Jovita   Marquaveon   150.0    70.0   38.2,-32.6
79     Jasmine      Jahmal"   107.0    72.0     38.5,9.1
80    Cheyenne       Gerrid    55.0    71.0    36.6,68.2
81      Karma"       Nameer   131.0    65.0    37.5,69.8
82    Madeline         Cira   128.0    65.0   37.4,149.6
83      Connor     Sheridyn   141.0    73.0   36.8,-80.7
84       Sarah       Sunday   180.0    54.0    36.7,-5.6
85    Victoria       Maliik   164.0    60.0   36.3,151.2
86      George     Tyshonna   105.0    74.0   37.5,-91.5
87     Marquis        Kylar   137.0    51.0   38.2,228.4
88     Marlene       Fatuma   117.0    64.0    36.4,-9.5
89     Kathryn      Diondra   149.0    65.0    38.3,68.0
90    Jonathan       Jersey   107.0    77.0    36.0,11.8
91      Joshua      Caileen   181.0    67.0    37.3,79.0
92       Emily       Leonid   146.0    57.0   37.8,-68.7
93   Jacqualyn      Angelea   116.0    63.0   36.4,-31.5
94      Gionna       Pamala   180.0    79.0   38.6,-28.6
95     Yasmeen       Jahron   135.0    84.0  38.3,-127.3
96      Meghan     Carlyann   101.0    66.0    36.6,80.5
97        Tess        Shree   146.0    68.0    38.8,64.9
98       Maria       Kalvyn   115.0    51.0   37.1,-90.4
99       Lexie     Cheyenna   151.0    71.0    35.9,86.1

[100 rows x 5 columns]

In [6]:
df['last'].dtype == np.dtype('O')

True

## Congratulations! You're done!

* Submit the lab on Gradescope